<ul>
        <li><a href="#"><span>Equipe de design de produto</span></a></li>
            <li><a href="#">Princípios de design</a></li>
            <li><a href="#">Nossos rituais</a></li>
            <li><a href="#">Design Day</a></li>
            <li><a href="#">Frentes de Design</a></li>
      </ul>
      
      <ul>
        <li><a href="#"><span>Cultura de produto</span></a></li>
            <li><a href="#">Squads e tribos</a></li>
            <li><a href="#">Product Weekly Sync</a></li>
            <li><a href="#">1:1s</a></li>
            <li><a href="#">Townhall</a></li>
      </ul>

      <ul>   
        <li><a href="#"><span>Ferramentas</span></a></li>
            <li><a href="#">Senhas</a></li>
            <li><a href="#">Abstract</a></li>
            <li><a href="#">InVision</a></li>
            <li><a href="#">Sketch</a></li>
      </ul>

      <ul>
        <li><a href="#"><span>Cozy</span></a></li>
      </ul>
      
      <ul>
        <li><a href="#"><span>Pesquisa com usuário</span></a></li>
            <li><a href="#">Instruções para começar</a></li>
            <li><a href="#">Template</a></li>
            <li><a href="#">Controle de convidados</a></li>
            <li><a href="#">Recompensas</a></li>
            <li><a href="#">Site Pesquinta</a></li>
      </ul>

      <ul>  
        <li><a href="#"><span>Branding</span></a></li>
          <li><a href="#">Tom de voz</a></li>
          <li><a href="#">Brand guides</a></li>
          <li><a href="#">Repositório de ilustrações</a></li>
          <li><a href="#">Downloads</a></li>
      </ul>

      <ul>
        <li><a href="#"><span>Busque conhecimento</span></a></li>
      </ul>

      <ul> 
        <li><a href="#"><span>Instagram</span></a></li>
      </ul>

      <ul>
        <li><a href="#"><span>Medium</a></li>
      </ul>